<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253008480260-kgnsujsmum6q59grvl57i7ifa6hq2vtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253008480260-kgnsujsmum6q59grvl57i7ifa6hq2vtf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253008480260-ctv4cnbk1vplu5393ii1gd4r8lru1c19.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMPSNTbXGs-61-uuMxPjKhR10oeO7flJg</string>
	<key>GCM_SENDER_ID</key>
	<string>253008480260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evaware</string>
	<key>PROJECT_ID</key>
	<string>evaware-893a5</string>
	<key>STORAGE_BUCKET</key>
	<string>evaware-893a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253008480260:ios:700a3bee5282cc9847cd51</string>
</dict>
</plist>